apiVersion: v1
kind: ConfigMap
metadata:
 name: app-config
data:
 LOG_LEVEL: info
 FEATURE_X_ENABLED: "true"
 BACKEND_URL: "http://backend.default.svc.cluster.local"
---
apiVersion: v1
kind: ConfigMap
metadata:
 name: nginx-config
data:
 nginx.conf: |
   user  nginx;
   worker_processes  auto;

   events {
       worker_connections 1024;
   }

   http {
       server {
           listen 80;
           location / {
               root /usr/share/nginx/html;
               index index.html;
           }
       }
   }
