apiVersion: v1
kind: Pod
metadata:
 name: cm-env-demo
spec:
 containers:
 - name: app
   image: busybox
   command: ["sh", "-c", "echo $LOG_LEVEL $FEATURE_X_ENABLED && sleep 3600"]
   env:
     - name: LOG_LEVEL
       valueFrom:
         configMapKeyRef:
           name: app-config
           key: LOG_LEVEL
     - name: FEATURE_X_ENABLED
       valueFrom:
         configMapKeyRef:
           name: app-config
           key: FEATURE_X_ENABLED
---
apiVersion: v1
kind: Pod
metadata:
 name: cm-envfrom-demo
spec:
 containers:
 - name: app
   image: busybox
   command: ["sh", "-c", "env | grep LOG && sleep 3600"]
   envFrom:
     - configMapRef:
         name: app-config

